@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Adapty Building<br />
    Thane, MUM 400024<br />
    <abbr title="Phone">Phone:</abbr>
    97692 09246
</address>

<address>
    <strong>Skype:</strong>   <a href="skype:krishna.gupta.adapty@outlook.com?add">krishna.gupta.adapty@outlook.com</a><br />
    <strong>Email:</strong> <a href="mailto:krishna.gupta@adapty.com">krishna.gupta@adapty.com</a>
</address><a href=""